h1{
font-family: sans-serif;
font-style: bold;
color: floralwhite;
font-size: 100px;
text-align: center;
background-color: skyblue;
background-image: url("../img/about-img-2.jpg");
background-size: cover
}
h2{
   font-family:sans-serif;
   font-size: 30px;
   color: floralwhite;
   text-align: center;
   background-color: skyblue;
}
p{
  font-family:sans-serif;
  font-size: 20px;
  color: darkgray;
  text-align: center;
}
body {
  background-color:floralwhite;
  text-align: center;
}
li {
  text-align: left;
  font-family:sans-serif;
  font-size: 20px;
  color: darkgray;
  margin: auto;
  width: 35%;
}
