h1{
font-family: sans-serif; font-style: bold; color: white;font-size: 50px;text-align: center;background-color: teal;
}
h2{
   font-family:sans-serif; font-size: 30px; color: white;text-align: center;background-color: teal;
}
p{
  font-family:sans-serif; font-size: 20px;color: teal;text-align: center;
}
body {
  background-color:white;text-align: center;
}
li {
  font-family:sans-serif; font-size: 20px;color: teal;text-align: centre;
}
h2{
text-align: center;
}
