header {
  text-align: center;
  background-image: url("../img/beach.jpeg");
  background-size: cover;
  min-height: 725px;
}
h1 {
  color: white;
  font-size: 200px;
  padding: 0px 0px 0px 0px;
}
h2{
  color: white;
  font-size: 50px;
  text-align: right;
}
img {
  margin: 40px 0px 0px 0px
}
ul{
  padding: 10px;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: skyblue;
  }
li{
  display: inline;
  padding: 0px 10px 0px 10px
}
a {
  color: skyblue;
}
h2{
  text-align: center;
  font-size: 30px;
}
